<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bzbluetooth"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" /> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.bzbluetooth.android.bluetoothlegatt.DeviceScanActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            
        </activity>
        <activity android:name="com.bzbluetooth.android.bluetoothlegatt.ControlActivity" 
            android:theme="@style/Activity_Transparent"
            android:screenOrientation="portrait">
            
        </activity>
        <activity android:name="com.bzbluetooth.StartActivity" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.bzbluetooth.android.bluetoothlegatt.BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>